EXPO_PUBLIC_API_URL=your_backend_url_here
EXPO_PUBLIC_ENV=development
EXPO_PUBLIC_REVENUECAT_KEY=your_revenuecat_native_public_sdk_key
EXPO_PUBLIC_REVENUECAT_WEB_BILLING_KEY=your_revenuecat_web_billing_public_key
